header.title.cf
  if data.name
    h1 #{data.name}

  .subline.cf
    if base.contacts
      .contacts
        if base.contacts.data
          each val, index in base.contacts.data
            span.contact.meta.dark(class=index) #{val}

        if base.contacts.profiles
          each val, index in base.contacts.profiles
            span.contact.meta.dark(class=index)
              a(class=index, href=val.url, target='_blank', title=labels.profiles.tooltip + ' ' + val.label + ' ' + labels.profiles.suffix) #{val.label} #{labels.profiles.suffix}

    if data.addons
      .tools
        if data.addons.pdf
          a.tool.meta.download(target='_blank', href=data.addons.pdf.url, download=data.addons.pdf.filename)
            span.icon
            span.text
